<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
</head>
<body>
    <form action='/guitars' method='POST'>
        Brand: <input type='text' name='brand'><br>
        Model: <input type='text' name='model'><br>
        Year: <input type='number' name='year'>
        <button type='submit'>Create New Guitar</button>
    </form>
</body>
</html>